<article class="card">
  <div class="card__header">
    <h2 class="card__title">{{ card.city }}</h2>
    <button class="card__opts">...</button>
  </div>
  <p class="card__temp-value">{{card.temperature}}</p>
  <div class="card__params-wrapper">
    <div class="card__param">
      <h3 class="card__param-subtitle">Pressure</h3>
      <p class="card__param-value">{{card.pressure}}</p>
    </div>
    <div class="card__param">
      <h3 class="card__param-subtitle">Wind</h3>
      <p class="card__param-value">{{ card.wind}}</p>
    </div>
    <div class="card__param">
      <h3 class="card__param-subtitle">Precip.</h3>
      <p class="card__param-value">{{ card.precipitation }}</p>
    </div>
  </div>
</article>
