<main>
  <section class="country-selection">
    <select class="country-selection__selector" [formControl]="selectedCountriesControl" (change)="handleChange(selectedCountriesControl)">
      <option *ngFor="let country of countries" [ngValue]="country">
        {{country.name}}
      </option>
    </select>
  </section>
  <section class="cards">
    <ul class="cards__list">

        <app-card
          *ngFor="let iterCard of selectedCards"
          [card]="iterCard"
        ></app-card>
    </ul>
  </section>
</main>

